<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
    </head>
    <body>
        {{> header}}
        <p>Some Text Here</p>
        <p>
            {{screamIt pageDetails}}
        </p>
    </body>

    <footer>
        {{> footer}}
    </footer>
</html>